<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- development version, includes helpful console warnings -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->

    <!-- production version, optimized for size and speed -->
    <script src="//cdn.jsdelivr.net/npm/vue"></script>
    <script src="/static/d3.v4.js"></script>
    <script src="/static/moment.js"></script>
    <script src="/static/include/helper.js"></script>
    <script type="module" src="/static/main.js" crossorigin="use-credentials"></script>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="app">
      <ul id="host-list">
        <li v-for="(client, fullName) in clients" v-bind:data-fullName="fullName">
          <div class="host-header">
            <span class="status" v-bind:data-status="client.status()"></span>
            <span>{{ fullName }}</span>
          </div>
          <div class="host-body">
            <ul class="md-list">
              <li v-for="(latest, key) in client.abs.latestMap" v-bind:data-key="key" v-bind:data-status="client.status(key)">
                <div class="label-wrap">
                  <label>
                    <input type="checkbox"
                      @change="client.update()"
                      :value="key" v-model="client.activeKeys">
                    <div class="key-value-wrap">
                      <span class="key">{{ key }}</span>
                      <span class="value">{{ latest.value.format() }}</span>
                    </div>
                  </label>
                </div>
              </li>
            </ul>
            <div class="timeframe">
              <button v-for="duration in [3*3600, 12*3600, 3*86400, 7*86400, 30*86400]" v-on:click="client.chart.duration(duration)">{{ shortDate(duration) }}</button>
            </div>
            <div class="chart-wrap">
              <div class="chart">
  
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>