
@namespace ct 'http://gionkunz.github.com/chartist-js/ct';

* {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    box-sizing: border-box;
    text-size-adjust: none;

    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    @media screen and (max-width: 1500px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1500px) and (max-width: 2200px) and (min-height: 600px) {
        font-size: 20px;
    }
    @media screen and (min-width: 2200px) and (min-height: 600px) {
        font-size: 24px;
    }
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

#app {
    margin: 0 auto;
    min-width: 46rem;
    max-width: 60rem;
    overflow: hidden;
    overflow-x: auto;
}

#host-list {
    background: white;
    border: 1px solid #f0f0f0;
    border-top: none;
    line-height: 1;
    overflow: hidden;
    .host-header {
        border-bottom: 1px solid #f0f0f0;
        padding: 0.8rem;
        .status {
            border-radius: 50%;
            display: inline-block;
            margin-right: 0.4rem;
            width: 1rem;
            height: 1rem;
            &[data-status="0"] { background: hsl(135, 65%, 55%) } /* Normal */
            &[data-status="8"] { background: hsl(45, 95%, 55%) } /* Warning */
            &[data-status="16"] { background: hsl(355, 75%, 55%) } /* Fatal */
        }
        span:nth-child(2) {
            vertical-align: top;
        }
    }
}

.md-list {
    display: grid;
    grid-template-columns: auto auto;
}
.md-list li {
    display: inline-grid;
    label {
        display: block;
        padding: 0.5rem 0.8rem;
        input[type="checkbox"] {
            border-radius: 0;
            display: inline-block;
            border: 1px solid #dfdfdf;
            height: 0.7rem;
            width: 0.7rem;
            margin-right: 0.3rem;
            &:checked {
                border: none;
            }
        }
        .key {
            color: #aaaaaa;
            margin-right: 0.3rem;
        }
    }

    &[data-status="8"] .value {
        color: hsl(45, 95%, 55%);
        font-weight: bold;
    } /* Warning */
    &[data-status="16"] .value {
        color: hsl(355, 75%, 55%);
        font-weight: bold;
    } /* Fatal */
    input.series-a { background: #d70206; }
    input.series-b { background: #f05b4f; }
    input.series-c { background: #f4c63d; }
    input.series-d { background: #d17905; }
    input.series-e { background: #453d3f; }
    input.series-f { background: #59922b; }
    input.series-g { background: #0544d3; }
    input.series-h { background: #6b0392; }
    input.series-i { background: #f05b4f; }
    input.series-j { background: #dda458; }
    input.series-k { background: #eacf7d; }
    input.series-l { background: #86797d; }
    input.series-m { background: #b2c326; }
    input.series-n { background: #6188e2; }
    input.series-o { background: #a748ca; }
}

.chart {
    g.active .ct-line {
        stroke-width: 2px;
    }
}

.key-header {
    background: #fafafa;
    border-bottom: 1px solid white;
    padding: 0.6rem;
    &:hover, &.touch {
        background: #f5f5f5;
        & + .chart .ct-line {
            stroke-width: 2px;
        }
    }
    span {
        display: inline-block;
    }
    span:nth-child(1) {
        color: #aaaaaa;
        margin-right: 0.7rem;
    }
    
    &[data-status="8"] {
        span:nth-child(2) {
            color: hsl(45, 95%, 55%);
            font-weight: bold;
        }
    } /* Warning */
    &[data-status="16"] {
        span:nth-child(2) {
            color: hsl(355, 75%, 55%);
            font-weight: bold;
        }
    } /* Fatal */
}

.chart {
    &, * {
        overflow: visible;
    }
    position: relative;
    height: 11rem;
    padding: 0.7rem 1.5rem 0.2rem 0.5rem;
}
.ct-point {
    stroke-width: 0.42rem;
    opacity: 0;
    &[ct|meta^="*"] {
        stroke-width: 0.42rem;
        opacity: 1;
    }
    &[ct|meta=""] {
        stroke-width: 0 !important;
    }
    &:hover {
        stroke-width: 0.5rem !important;
        opacity: 1;
    }
}
.ct-line {
    stroke-width: 1px;
}
.chartist-tooltip-meta {
    font-size: 0.7rem;
}