@namespace ct "http://gionkunz.github.com/chartist-js/ct";
* {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (max-width: 1500px) {
  html, body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 2200px) and (min-height: 600px) {
  html, body {
    font-size: 20px;
  }
}
@media screen and (min-width: 2200px) and (min-height: 600px) {
  html, body {
    font-size: 24px;
  }
}

ul {
  padding: 0;
  list-style: none;
}

#app {
  margin: 0 auto;
  min-width: 46rem;
  max-width: 60rem;
  overflow-x: visible;
  overflow-y: hiiden;
}

#host-list {
  background: white;
  border: 1px solid #f0f0f0;
  border-top: none;
  line-height: 1;
  overflow-x: visible;
}
#host-list .host-header {
  border: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
  padding: 0.8rem;
}
#host-list .host-header .status {
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.4rem;
  width: 1rem;
  height: 1rem;
  /* Normal */
  /* Warning */
  /* Fatal */
}
#host-list .host-header .status[data-status="0"] {
  background: #42d767;
}
#host-list .host-header .status[data-status="8"] {
  background: #f9c31f;
}
#host-list .host-header .status[data-status="16"] {
  background: #e23645;
}
#host-list .host-header span:nth-child(2) {
  vertical-align: top;
}

.md-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.md-list li {
  display: block;
  /* Warning */
  /* Fatal */
}
.md-list li .label-wrap {
  display: inline-block;
}
.md-list li label {
  display: grid;
  margin: 0.25rem 0.4rem;
  padding: 0.25rem 0.4rem;
  grid-template-columns: 1.3rem auto;
}
.md-list li label:hover {
  background: #f8f8f8;
}
.md-list li label .key-value-wrap {
  padding-right: 1.2rem;
}
.md-list li label input[type=checkbox] {
  border-radius: 0;
  display: inline-block;
  border: 1px solid #dfdfdf;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0.55rem 0;
}
.md-list li label input[type=checkbox]:checked {
  border: none;
}
.md-list li label .key {
  color: #aaaaaa;
  display: block;
  font-size: 0.7rem;
  line-height: 1;
  margin-bottom: 0.1rem;
}
.md-list li label .value {
  display: block;
  line-height: 1;
}
.md-list li[data-status="8"] .value {
  color: #f9c31f;
  font-weight: bold;
}
.md-list li[data-status="16"] .value {
  color: #e23645;
  font-weight: bold;
}
.md-list li input {
  background: white;
}

path.series-a, line.series-a {
  stroke: #ee2b3b;
}

circle.series-a, rect.series-a {
  fill: #ee2b3b;
}

.md-list li input.series-a {
  background: #ee2b3b;
}

path.series-b, line.series-b {
  stroke: #5f9edd;
}

circle.series-b, rect.series-b {
  fill: #5f9edd;
}

.md-list li input.series-b {
  background: #5f9edd;
}

path.series-c, line.series-c {
  stroke: #ee7c2b;
}

circle.series-c, rect.series-c {
  fill: #ee7c2b;
}

.md-list li input.series-c {
  background: #ee7c2b;
}

path.series-d, line.series-d {
  stroke: #6972d3;
}

circle.series-d, rect.series-d {
  fill: #6972d3;
}

.md-list li input.series-d {
  background: #6972d3;
}

path.series-e, line.series-e {
  stroke: #f9d210;
}

circle.series-e, rect.series-e {
  fill: #f9d210;
}

.md-list li input.series-e {
  background: #f9d210;
}

path.series-f, line.series-f {
  stroke: #89b6e6;
}

circle.series-f, rect.series-f {
  fill: #89b6e6;
}

.md-list li input.series-f {
  background: #89b6e6;
}

path.series-g, line.series-g {
  stroke: #a979ec;
}

circle.series-g, rect.series-g {
  fill: #a979ec;
}

.md-list li input.series-g {
  background: #a979ec;
}

path.series-h, line.series-h {
  stroke: #d87341;
}

circle.series-h, rect.series-h {
  fill: #d87341;
}

.md-list li input.series-h {
  background: #d87341;
}

path.series-i, line.series-i {
  stroke: #f2e65f;
}

circle.series-i, rect.series-i {
  fill: #f2e65f;
}

.md-list li input.series-i {
  background: #f2e65f;
}

path.series-j, line.series-j {
  stroke: #d66ce0;
}

circle.series-j, rect.series-j {
  fill: #d66ce0;
}

.md-list li input.series-j {
  background: #d66ce0;
}

path.series-k, line.series-k {
  stroke: #e24536;
}

circle.series-k, rect.series-k {
  fill: #e24536;
}

.md-list li input.series-k {
  background: #e24536;
}

path.series-l, line.series-l {
  stroke: #bbbdc3;
}

circle.series-l, rect.series-l {
  fill: #bbbdc3;
}

.md-list li input.series-l {
  background: #bbbdc3;
}

path.series-m, line.series-m {
  stroke: #7e839a;
}

circle.series-m, rect.series-m {
  fill: #7e839a;
}

.md-list li input.series-m {
  background: #7e839a;
}

path.series-n, line.series-n {
  stroke: #998082;
}

circle.series-n, rect.series-n {
  fill: #998082;
}

.md-list li input.series-n {
  background: #998082;
}

path.series-o, line.series-o {
  stroke: #9a8f7e;
}

circle.series-o, rect.series-o {
  fill: #9a8f7e;
}

.md-list li input.series-o {
  background: #9a8f7e;
}

.chart {
  /* GPU accelerate */
  /*
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  */
}

.chart-wrap {
  position: relative;
  padding: 0.5rem 1.5rem 0.6rem 0.5rem;
}
.chart-wrap .chart {
  overflow: visible;
  position: relative;
  height: 11rem;
  width: 100%;
}
.chart-wrap .chart * {
  overflow: visible;
}
.chart-wrap .grid {
  position: relative;
}
.chart-wrap .grid, .chart-wrap .grid line {
  stroke: #eaeaea;
  stroke-width: 1px;
  stroke-dasharray: 3px;
}
.chart-wrap .grid path {
  display: none;
}
.chart-wrap .domain {
  display: none;
}
.chart-wrap .axis {
  font-family: inherit;
  font-size: 0.6rem;
}
.chart-wrap .axis, .chart-wrap .axis path, .chart-wrap .axis g, .chart-wrap .axis line {
  fill: #eaeaea;
  stroke: #eaeaea;
  stroke-width: 1px;
}
.chart-wrap .axis text {
  fill: #bbbbbb;
  stroke-width: 0;
  user-select: none;
}
.chart-wrap .hand {
  stroke: #dadada;
  stroke-width: 1px;
  stroke-dasharray: 3px;
}
.chart-wrap .selection {
  pointer-events: none;
  fill: rgba(0, 85, 255, 0.1);
}
.chart-wrap .paths path.active {
  stroke-width: 2px;
}
.chart-wrap .tooltip {
  font-family: inherit;
  font-size: 0.6rem;
  pointer-events: none;
}
.chart-wrap .tooltip .background {
  stroke: #dadada;
  fill: white;
}
.chart-wrap .tooltip text {
  stroke-width: 0;
  user-select: none;
}
.chart-wrap .tooltip .timestamp {
  fill: #bbb;
}
.chart-wrap .tooltip .value {
  fill: #777;
}
