
@import '@/lib/ui/scss/colors.scss';

$main-padding: 1.3rem;

* {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;

    margin: 0;
    padding: 0;
}

html, body {
    color: $cl-text-secondary;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: $cl-text-secondary-dark;
}

a {
    color: $cl-text-accent;
    text-decoration: none;
}

header, main, footer {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 .75rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;

    .header-logo {
        color: $cl-text-secondary;
        font-size: 2rem;
        flex: 100 0 auto;
    }
    .menu-container {
        flex: 0 0 2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        .menu-button {
            line-height: 2rem;
            font-size: 1rem;
            display: block;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        .menu-content {
            top: calc(100% + .4rem);
            right: 0;
        }
    }
}

footer {
    font-size: .875rem;
    line-height: 1.15;
    section {
        padding: .5rem 0 4rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        & > .version {
            flex: 100 0 auto;
            padding-right: 2rem;
        }
        & > .github {
            flex: 0 0 auto;
        }
    }
}

.client .client-header {
    padding: 1rem 0;
    h2.name {
        color: $cl-text-accent;
        font-weight: normal;
        font-size: 2rem;
    }
    .summary-flex {
        line-height: 1.25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: .5rem;
        & > *:not(:last-child) {
            margin-right: .5rem;
        }
        .role-tag {
            background: $cl-area-secondary-dark;
            border-radius: .2rem;
            display: inline-block;
            font-size: .8rem;
            padding: .1rem .35rem;
        }
    }
}

.client-menu-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: .5rem 0;
    & > .thumbnail {
        font-size: 2rem;
        margin-right: .5rem;
        & > * {
            display: block;
        }
    }
    & > .ui-icon {
        display: block;
        margin-right: .5rem;
    }
    & > .text {
        line-height: 1.15;
        .alias {
            font-size: .875rem;
        }
        .host {
            font-size: .75rem;
            opacity: 0.66;
        }
    }
}

.client {

    &:not(.visible) {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    .graph-options {
        line-height: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .option {
            margin-bottom: 0.5rem;
            max-width: 100%;
        }
        .option--keys {
            flex: 1 1 auto;
        }
        .option--duration {
            flex: 100 0 auto;
            text-align: right;
            white-space: nowrap;
            overflow-x: auto;
        }
    }
    .graph-focus-info {
        font-size: .875rem;
        line-height: 1.35;
    }
    .graph-wrap {
        margin: 1.3rem 0 1.3rem (-$main-padding);
    }
}