
@import '@/lib/ui/theme/colors.scss';

$main-padding: 1.3rem;

* {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;

    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    & > section {
        padding: $main-padding;
        width: 100%;
        overflow: auto;
    }
}

.sidebar {
    .sidebar-label.version {
        text-transform: none;
        font-weight: lighter;
    }
}

.client {

    max-width: 68rem;
    margin: 0 auto;

    &:not(.visible) {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    .checkboxes {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .checkbox {
            padding: 0;
            border-radius: .3rem;
            &.checked {
                .mark {
                    color: white;
                }
            }
        }
        li {
            flex: 0 0 16rem;
            margin: .1rem 0;
        }
        .key, .value {
            line-height: 1.15rem;
            font-size: 1rem;
        }
        .key {
            color: darken($cl-text-light, 20%);
            margin-right: 0.3rem;
        }
    }

    .options-wrap {
        line-height: 1.8;
        margin: 1rem 0;
        .option {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            & > * {
                margin-right: 0.5rem;
            }
        }
        .dropdown {
            display: inline-block;
        }
    }
    .graph-wrap {
        margin: 1.3rem 0 1.3rem (-$main-padding);
    }
}